@model IEnumerable<HamsterForum.Models.Discussion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayName("Image")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                 <img src="@Url.Content("/images/" + item.ImageFilename)" alt="Picture for @item.Title" class="img-fluid" style="max-height:50px;" />
            </td>
            <td>
                    <p>@item.CreateDate.Date.ToShortDateString()</p>
            </td>
             <td>
                <div class="row">
                        <div class="col-md-8" style="display:flex;">
                            <a asp-action="Edit" asp-route-id="@item.DiscussionId">Edit&nbsp;</a>|&nbsp
                            <a asp-action="GetDiscussion" asp-controller="Home" asp-route-id="@item.DiscussionId">&nbspDetails&nbsp;</a>|&nbsp
                            <a asp-action="Delete" asp-route-id="@item.DiscussionId">&nbspDelete</a>
                    </div>
                </div>
  
            </td>
        </tr>
}

    </tbody>
</table>
