@model HamsterForum.Models.Discussion

<div class="container mt-4">
    <!-- Discussion Title -->
    <h2 class="mb-3">@Model.Title</h2>

    <!-- Original Discussion Post -->
    <div class="card mb-4">
        <div class="card-body">
            <img src="@Url.Content("/images/" + Model.ImageFilename)" alt="Picture for @Model.Title" class="img-fluid" style ="max-height:500px;" />
            <p>@Model.Content.</p>
        </div>
    </div>

    @if (Model.Comments != null && Model.Comments.Any()){
     <h5>Comments</h5>
        @foreach (var comment in Model.Comments)
        {
            <!-- Comment Section -->
            <div class="card">
                <div class="card-body">
                    <div class="border-bottom pb-2 mb-2">
                        <p>@comment.Content</p>
                    </div>
                </div>
            </div>
        }
    }else{
        <p>No comments yet. Be the first to comment!</p>
    }

</div>
<a href="@Url.Action("Create", "Comments", new { id = Model.DiscussionId })">
    <h5>Add a Comment</h5>
    </a>

@* @await Html.PartialAsync("~/Views/Comments/Create.cshtml", new HamsterForum.Models.Comment { DiscussionId = Model.DiscussionId }) *@

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Discussions</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

